* {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	color: #5a666f;
}
body {
	color: #5a666f;
    background: rgba(0,0,0,0.7);
    font-family: Arial, sans-serif;
    font-size: 14px;
    float: left;
    width: 100%;
    padding: 0 0 30px 0; 
}

.FL {float: left;} .FR {float: right;}

#wrapper {
	background: #fff;
	border-radius: 5px;
	width: 80%;
	height: 500px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 5% auto;
}

.leftPane {
	border-right: 1px #ddd solid;
	width: 70%;
	position: relative;
}
.rightPane {
	width: 30%;
}

.header {
	background: #dfe5ee;
	border-bottom: 1px #ddd solid;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
}
.header span {
	display: inline-block;
	line-height: 26px;
	padding: 15px;
}

/* Menu */
.menu li{
	border-left: 1px #ddd solid; 
    display: inline-block;
}
.menu li a{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
}

/* user list */
.pic {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    margin-right: 15px;
}
#user-list {
	max-height: 445px;
	overflow-y: scroll;
}
#user-list li {
	border-left: 2px #fff solid;
	border-bottom: 1px solid #ccd8de;
    color: #929da8;
    line-height: 44px;
	overflow: hidden;
    padding: 10px;
    position: relative;
}
#user-list li:hover {
	background: #d6dee7;
	border-left: 2px #3488be solid;
}
#user-list li.active {
	color: #fff;
	background: #4b91c0;
}
#user-list li .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
#user-list li i {
	position: absolute;
	left: 45px;
	top: 40px;
}
#user-list li .online {
	color: green;
}
#user-list li .offline {
	color: #ddd;
}
#user-list li .idle {
	color: orange;
}

/* Messages */ 
.conversation {
	max-height: 343px;
	overflow-y: scroll;
}
.msgBox {
	border-bottom: 1px #ccd8de solid;
	padding: 20px 15px;
	overflow: hidden;
}
.msgBox .info {
	padding: 5px 0;
	overflow: hidden;
}
.msgBox .name {
	font-weight: bold;
}
.msgBox .time, .msgBox .text {
	color: #929DA8;
}

.inputBox {
	border-top: 1px #ccd8de solid;
	height: 59px;
    padding: 20px;
}
.inputBox .input {
	border: 1px #ccd8de solid;
	padding: 5px;
	position: relative;
}
.input i{
	color: #929DA8;
	position: absolute;
    top: 10px;
    transform: rotateX(180deg);
    font-size: 22px;
    left: 95%;
}
.input input {
	border: none;
	font-size: 14px;
	padding: 10px;
	width: 95%;
	box-sizing: border-box;
}
/* Profile Pane */
.profilePane {
	background: #4b91c0;
	box-sizing: border-box;
	color: #d6dee7;
	display: none;
	font-weight: bold;
	width: 100%;
	height: 100%;
	padding: 5%;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
}

.profilePane .pic {
	border-radius: 75px;
	width: 150px;
	height: 150px;
}
.profilePane p {
	margin: 10px 0;
}
.profilePane .details {
	margin: 25px auto 15px auto;
	width: 60%;
}
.profilePane .details li {
	display: inline-block;
	width: 49%;
	text-align: left;
	padding: 0 0 10px 0;
}
.profilePane .details .term {
	font-size: 12px;
	font-weight: normal;
	padding: 0 0 5px 0;
}
.profilePane .details .desc {
	font-size: 16px;
}
